*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-container{
    width: 80%;
  max-width: 800px;
  margin: 50px auto;
  overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .slide {
    min-width: 100%;
    transition: transform 0.5s ease;
  }
  img {
    width: 100%;
    height: 750px;
  }
  
  @keyframes slideAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .slider {
    animation: slideAnimation 15s infinite;
  }    